---
import background from "../assets/background.svg";
---

<div>
    <img
        src={background.src}
        alt=""
        class="absolute w-full h-full min-w-min min-h-min"
        fetchpriority="high"
    />
    <main class="container mx-auto">
        <section>
            <h1 class="font-black text-lg">Hello, Amy</h1>
        </section>
    </main>
</div>
