---
import { Image } from "astro:assets";
import bigBlue from "../assets/big-blue.jpg";
---

<main class="flex p-5 h-screen">
    <div class="flex flex-1 flex-col">
        <header class="text-sm flex">
            <h1 class="text-nowrap">amy simons</h1>
            <div class="w-full text-neutral-500 flex space-x-1 ml-40">
                <p class="text-neutral-400">big collage</p>
                <p>/</p>
                <p>works on paper</p>
                <p>/</p>
                <p>info</p>
            </div>
        </header>
        <section class="my-24 text-sm flex-1">
            <ul>
                <li>Big Blue</li>
                <li>Proscenium & Flyer</li>
                <li>What Makes a Body?</li>
            </ul>
        </section>
        <footer class="text-neutral-400 text-sm">
            <h1 class="">2025 - Info</h1>
        </footer>
    </div>
    <div class="max-w-2xl">
        <Image src={bigBlue} alt="Image Description" />
    </div>
</main>
