---
// Link.astro
const { href, active, class: className, ...rest } = Astro.props;
---

<a
    class:list={[
        "transition-all text-nowrap text-neutral-400 hover:text-neutral-200",
        "[&[data-active='true']]:text-neutral-200",
        className,
    ]}
    href={href}
    {...rest}
>
    <slot />
</a>
