---
const { href, active = false, class: className, ...rest } = Astro.props;
---

<a
    class:list={[
        active ? "text-neutral-200" : "text-neutral-400",
        "transition-all hover:text-neutral-100 text-nowrap",
        className,
    ]}
    href={href}
    {...rest}
>
    <slot />
</a>
