---
import Header from "../components/Header.astro";
import Layout from "./Layout.astro";
---

<Layout>
    <main class="flex h-full">
        <div class="flex flex-1 flex-col pr-16">
            <Header />
            <section class="my-24 ml-4 max-w-md text-sm flex-1">
                <slot name="body" />
            </section>
            <footer class="text-neutral-600">
                <p>amy simons 2025</p>
            </footer>
        </div>

        <div class="max-w-5xl flex-1 relative">
            <slot name="gallery" />
        </div>
    </main>
</Layout>
