---
import Header from "../components/Header.astro";
import Link from "../components/link.astro";
import Layout from "./Layout.astro";
---

<Layout>
    <div class="flex p-5 min-h-screen">
        <div class="flex flex-1 flex-col pr-16">
            <Header />
            <section class="pt-24 ml-4 max-w-md text-sm flex-1">
                <slot name="body" />
            </section>
            <footer class="text-neutral-600 text-xs">
                <Link href="https://www.instagram.com/_amy_simons_"
                    >amy simons</Link
                >
            </footer>
        </div>

        <div class="max-w-5xl flex-1 relative h-min">
            <slot name="gallery" />
        </div>
    </div>
</Layout>
